<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="net.logstash.logback.encoder.LogstashEncoder">
			<!-- pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern -->
		</encoder>
	</appender>

	<logger name="reactor.netty.http.server.AccessLog" level="INFO"
		additivity="false">
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>


	<!-- Turning down the wiremock logging -->
	<logger name="com.github.tomakehurst.wiremock" level="WARN" />
	<logger name="wiremock.org" level="ERROR" />
	<logger name="WireMock" level="WARN" />
	<!-- wiremock has per endpoint servlet logging -->
	<logger name="/" level="WARN" />
</configuration>